html {
  height: 200%;
}
#monSVG {
  position: fixed;
}
/* Définir la couleur de fond, la couleur du contour, l'épaisseur du contour du path */
#monSVG path {
  fill: none;
  stroke: #f00;
  stroke-width: 3;
}
